/* -------------------- Config Website -------------------- */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.post:nth-child(3n) {
		margin-right: 10px;
	}

	.post:nth-child(3n+1) {
		margin-left: 10px;
	}

	.post {
		width: 42%;
	}

	nav {
		justify-content: flex-end;
	}

	.width-1200 {
		width: 980px;
	}

	.item-menu {
		flex: none;
	}

	.item-menu li:last-child {
		margin-right: 0;
	}

	header form {
		margin: 0 10px;
	}

	.nav .item-menu {
		display: none;
	}

	.quick-link {
		padding-left: 75px;
	}

	.category {
		padding: 0 70px 0 40px;
	}

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.item-ipt:first-child {
		display: none;
	}

	.nav .item-menu {
		display: none;
	}

	.width-1200 {
		width: 100%;
	}

	.item-menu li a {
		margin: 0 16px;
	}

	.item-menu li:last-child {
		margin-right: 60px;
	}

	.item-ipt:last-child {
		margin-right: 20px;
	}

	nav {
		margin-left: 20px;
	}


	.form-introduce h2 {
		font-size: 26px;
	}

	.post {
		margin: 5px;
	}

	.post:nth-child(2n) {
		margin-right: 0;
	}

	.post:nth-child(2n+1) {
		margin-left: 0;
	}

	.post {
		width: 45%;
	}

	.first {
		flex-wrap: wrap;
	}

	.quick-link {
		padding-left: 75px;
	}

	.category {
		padding: 0 25px;
	}

	.about,
	.quick-link,
	.category,
	.list-footer {
		width: 38%;
	}

	.about,
	.quick-link,
	.category,
	.form-footer,
	.list-footer {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	/* .quick-link,
	.category {
		margin: 0;
	} */

	.category {
		margin-top: 23px;
	}

	.list-footer {
		flex-direction: row;
		margin: 0 auto;
	}


	.form-footer {
		padding: 20px;
		margin: 20px 0;
		width: 45%;
	}

	/* .form-footer form i {
		bottom: 75px;
		right: 115px;
	} */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {


	.width-1200 {
		width: 100%;
	}

	.item-ipt:last-child {
		right: -70px;
	}


	.form-introduce {
		padding: 20px;
		bottom: 0;
		transform: translate3d(30%, 45%, 10px);
		left: 0;
	}




	.icon:focus .item-menu {
		display: block;
	}

	.icon:focus .item-ipt {
		display: block;
	}




	.last ul {
		display: none;
	}

	.logo-footer {
		margin-left: 20px;
	}


	.form-introduce h2 {
		margin: 8px 0 12px 0;
		font-size: 26px;
	}




}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {




	.width-1200 {
		width: 100%;
	}



	.form-introduce {
		padding: 20px;
		bottom: -100px;
		left: 15px;
	}



	.form-introduce h2 {
		font-size: 14px;
		line-height: 20px;
	}

	.user span,
	time,
	.tag {
		font-size: 14px;
	}
}

/* Option follow device */
@media (min-width: 1500px) {}

@media (max-width: 991px) {}

@media (min-width: 768px) {
	.noPaddingLeft {
		padding-left: 0;
	}

	.noPaddingRight {
		padding-right: 0;
	}

	.noPadding {
		padding: 0;
	}
}

@media (max-width: 767px) {
	nav {
		flex: none;
	}

	.item-menu {
		display: none;
	}

	header {
		justify-content: space-between;
	}

	.item-ipt:first-child {
		display: none;

	}

	.width-750 {
		width: 80%;
	}

	.nav {
		position: relative;
		display: block;
	}

	.nav form .item-ipt {
		display: none;
		position: absolute;
		top: 198px;
		z-index: 1;
		right: -16px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.nav .item-menu {
		display: none;
		position: absolute;
		right: 20px;
		top: 48px;
		background: var(--var-color-f4);
		z-index: 1;
		line-height: 30px;
		border-radius: 2px;
		text-align: start;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.nav .item-menu li {
		padding: 0 50px;
		margin: 0;
	}

	.item-menu li:last-child {
		margin: 0;
	}

	.nav .item-ipt:first-child input {
		padding-left: 37px;
	}

	.nav .item-menu li a {
		width: 100%;
		display: inline-block;
	}

	.icon {
		display: block;
		margin: 0 20px;
		border-radius: 6px;
	}

	.user span,
	time {
		font-size: 12px;
	}

	.infor-user {
		margin-bottom: 0;
	}

	.list-post {
		margin-left: 70px;
	}

	.list-post h4 {
		font-size: 20px;

	}


	.posts {

		flex-direction: column;
	}


	.post:nth-child(3n+1),
	.post:nth-child(2n),
	.post:nth-child(3n),
	.post:nth-child(2n+1) {
		margin-left: 0;
		margin-left: 0;
	}

	.post {
		width: 70%;
		margin: 10px 0;
	}

	.post:first-child {
		margin-top: 0;
	}

	.first {
		flex-wrap: nowrap;
		flex-direction: column;
	}



	.about,
	.quick-link,
	.category,
	.form-footer,
	.list-footer {
		display: flex;
		width: 80%;
		flex-direction: column;
		margin: 0 auto;
		text-align: center;
	}

	.list-footer {
		flex-direction: row;
	}

	.quick-link,
	.category {
		padding: 10px 0 0 0;
	}

	.quick-link ul,
	.category ul {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.quick-link ul li,
	.category ul li {
		width: 30%;
	}

	.form-footer {
		padding: 10px;
		margin-top: 18px;
	}

	.form-footer form i {
		bottom: 75px;
		right: 50px;
	}

	.last {
		justify-content: center;
	}

	.last ul {
		display: none;
	}
}