/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.container {
		width: 1140px;
	}

}

/* -------------------- Config Website -------------------- */
@media (min-width: 1400px) {
	.container {
		width: 1320px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.container {
		width: 960px;
	}

	.width-img {
		width: 100%;
	}

	.post:nth-child(3n) {
		margin-right: 10px;
	}

	.post:nth-child(3n+1) {
		margin-left: 10px;
	}

	.post {
		width: 42%;
	}

	.item-ipt:first-child input {
		padding-left: 5px;
	}

	.item-menu li:last-child {
		margin-right: 0;
	}

	.item-ipt:first-child {
		margin-right: 20px;
		margin-left: 10px;
	}

	.about {
		padding-right: 75px;
	}

	.quick-link {
		padding-right: 40px;
	}

	.category {
		padding-right: 70px;
	}

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.item-ipt:first-child input {
		display: none;
	}

	.item-ipt:first-child {
		margin-right: 18px;
	}

	.item-ipt button {
		padding: 6px;
		border-radius: 5px;
	}

	.container {
		width: 720px;
	}

	.width-img {
		width: 100%;
	}

	.width-750 {
		width: 80%;
	}

	.item-menu {
		justify-content: center;
	}

	.item-menu li a {

		margin: 0 16px;
	}

	.item-menu li:last-child {
		margin-right: 10px;
	}

	.logo {
		margin-right: 0;
	}

	nav {
		margin-left: 20px;
	}

	.form-introduce {
		padding: 30px;
	}

	.form-introduce h2 {
		font-size: 28px;
		line-height: 30px;
	}

	.post {
		margin: 10px;
	}

	.post:nth-child(3n+1) {
		margin-right: 10px;
	}

	.post:nth-child(3n) {
		margin-left: 10px;
	}

	.post:nth-child(2n) {
		margin-right: 0;
		margin-left: 10px;
	}

	.post:nth-child(2n+1) {
		margin-left: 0;
		margin-right: 10px;
	}

	.post {
		width: 43%;
	}

	.post h4 {
		font-size: 20px;
		margin: 16px 0;
	}

	.user span,
	.time,
	.tag {
		font-size: 14px;
	}

	.first {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.about {
		order: 1;
		width: 43%;
		padding-right: 36px;
	}

	.form-footer {
		order: 2;
		width: 43%;
	}

	.quick-link {
		order: 4;
		width: 48%;
		padding: 0;
		padding-left: 10px;
	}

	.category {
		order: 3;
		padding-right: 16px;
		width: 48%;
		border-right: 1px solid #ccc;
	}

	.quick-link,
	.category {
		margin-top: 10px;
	}

	.quick-link ul,
	.category ul {
		display: flex;
		flex-wrap: wrap;
	}

	.quick-link ul li,
	.category ul li {
		width: 33%;
	}

	.list-footer {
		width: 40%;
		flex-direction: row;
	}

	.last li a {
		padding: 0 10px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

	.displayFlex {
		flex-direction: row;
		top: 85px;
		margin-left: 45px;
		border-top: 1px solid #ccc;
	}


	.container {
		width: 540px;
	}

	.form-introduce {
		left: 30px;
	}


	.form-introduce h2 {
		margin: 8px 0 12px 0;
		font-size: 24px;
		line-height: 30px;
	}

	.icon:focus .item-menu {
		display: block;
	}


	.about {

		width: 80%;
	}

	.form-footer {
		width: 80%;
	}

	.quick-link {
		width: 45%;
	}

	.category {
		width: 45%;
	}

	.last ul {
		display: none;
	}

	.logo-footer {
		margin-left: 20px;
	}

	.form-footer form i {
		bottom: 85px;
	}
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.width-img {
		width: 95%;
		margin: 0 10px;
	}

	.displayFlex {
		flex-direction: column;
		top: 100px;
		width: 100%;
	}

	.container {
		width: 100%;
	}

	.form-introduce h2 {
		font-size: 17px;
		line-height: 20px;
		margin: 6px 0 7px 0;
	}

	.form-introduce .time {
		margin-left: 10px;
	}

	.vector {
		top: 12px;
		left: 13px;
	}

	.switch-toggle {
		width: 33px;
		height: 32px;
		appearance: none;
		background-color: var(--secondary-100);
		border-radius: 100px;
		position: relative;
		cursor: pointer;
	}

	.switch-toggle::before {
		content: none;
		width: 0;
		height: 0;
		position: initial;
	}

	.switch-toggle:checked {
		background-color: var(--secondary-600);
	}

	.switch-toggle:checked+.vector {
		left: 13px;
		filter: brightness(0) invert(1);
		-webkit-filter: brightness(0) invert(1);
	}

	.form-footer form i {
		bottom: 85px;
	}

	.user img {
		width: 26px;
		height: 26px;
	}

	.about {

		width: 80%;
	}

	.form-footer {
		width: 80%;
	}

	.quick-link {
		width: 80%;
	}

	.category {
		width: 80%;
	}
}

/* Option follow device */
@media (min-width: 1500px) {}

@media (max-width: 991px) {}

@media (min-width: 768px) {
	.noPaddingLeft {
		padding-left: 0;
	}

	.noPaddingRight {
		padding-right: 0;
	}

	.noPadding {
		padding: 0;
	}
}

@media (max-width: 767px) {

	.item-ipt:first-child input {
		display: none;
	}

	.item-ipt:first-child {
		margin-right: 30px;
	}

	.item-ipt button {
		padding: 6px;
		border-radius: 5px;
	}

	header {
		padding: 10px 0;
		margin-bottom: 10px;
		background-color: #141414;
		color: white;
		justify-content: space-between;
	}

	.container {
		flex-wrap: wrap;
	}

	.container form {
		order: 2;
	}

	.item-ipt:last-child {
		right: 25px;
	}

	.logo {
		order: 1;
		margin-right: auto;
		margin-left: 10px;
		filter: brightness(0) invert(1);
		-webkit-filter: brightness(0) invert(1);
	}

	.icon {
		order: 3;
		display: block;
		border-radius: 6px;
		margin-right: 10px;
	}

	.item-menu {
		display: none;
	}

	.displayFlex {
		order: 4;
	}

	.displayFlex {
		display: flex;
		justify-content: center;
		margin-left: 0;
		margin-top: 10px;
		text-transform: uppercase;
	}

	.displayFlex li a {
		line-height: 40px;
		color: white
	}

	.displayFlex li:active {
		background-color: #232323;
	}

	.width-img {
		max-width: 100%;
	}


	.width-750 {
		width: 80%;
	}

	.form-introduce {
		padding: 20px;
		position: relative;
		display: block;
		width: 65%;
		margin: -130px auto 0 auto;
		background-color: white;
		bottom: 0;
		left: 0;
	}

	.item-menu li:last-child {
		margin: 0;
	}

	.form-introduce .tag,
	.user span,
	.time,
	.tag {
		font-size: 14px;
	}

	.infor-user {
		margin-bottom: 0;
	}

	.list-post h4 {
		font-size: 28px;
		margin: 10px;
		text-align: center;
	}

	.post {
		width: 100%;
	}

	.post h4 {
		text-align: start;
	}

	.post:first-child {
		margin-top: 0;
	}

	.post:nth-child(3n+1) {
		margin-left: 10px;
	}

	.first {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-left: 15px;
	}

	.about {
		order: 1;
	}

	.form-footer {
		order: 2;
		padding: 20px;
		margin: 24px 0;
	}


	.quick-link {
		order: 4;
		padding-left: 0;
	}

	.category {
		order: 3;
		padding: 0;
	}

	.quick-link ul,
	.category ul {
		display: flex;
		flex-wrap: wrap;
	}

	.quick-link ul li,
	.category ul li {
		width: 50%;
	}

	.list-footer {
		width: 40%;
		flex-direction: row;
	}

	.logo-footer {
		padding-left: 15px;
	}

	.last ul {
		display: none;
	}
}