@font-face {
  font-family: WorkSans;
  src: url(../font/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

body{
    font-family: WorkSans;
    border: none;
    outline: none;
}

:root{
    --var-sz: 24px;
    --var-color-button: rgba(75, 107, 251, 1);
    --var-color-6: #696A75;
    --var-color-e: #e8e8ea;
    --var-color-3: #3b3c4a;
    --var-color-18: #181a2a;
    --var-color-f4: #f4f4f5;
    --var-color-d: #dcdddf;
    --var-color-white: #fff;
}

.width-1200{
    width: 1200px;
    margin: 0 auto;
}

li, a {
    text-decoration: none;
    list-style: none;
    color : var(--var-color-3);
}

/*HEADER*/


header,
nav,
header form{
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
}

header form {
    width: 254px;
    align-items: center;
}

nav{
    width: calc(100% - 254px);
}

.item-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-menu li:last-child {
    margin-right: 115px;
}



.logo{
    margin-right: 44px;
}


.item-menu li a{
    font-size: 16px;
    line-height: var(--var-sz);
    padding: 0 20px;
}


.item-ipt:first-child {
    width: 166px;
    height: 18px;
    border-radius: 5px;
    padding: 8px 8px 8px 16px;
    gap: 12px;
    background-color: var(--var-color-f4);
    margin-right: 10px;
    display: flex;
}

.item-ipt:first-child input {
    background-color: var(--var-color-f4);
    display: flex;
    border: none;
    outline: none;
}

.item-ipt button {
    width: 4px;
    height: 4px;
    color: #52525b;
    border-radius: 2px;
    position: relative;
    left: -8px;
    cursor: pointer;
    border: none;
    outline: none;
    
}

.item-ipt:last-child{
    display: flex;
    width: 48px;
    height: 28px;
    border-radius: 100px;
}

.switch-toggle{
    width: 38px;
    appearance: none;
    background-color: var(--var-color-e);
    border-radius: 26px;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, .3);

}
.switch-toggle::before{
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    top: 2px;
    left: 3px;
    background-color:var(--var-color-white);
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .3);

}
.switch-toggle:checked{
    background-color: var(--var-color-button);
}
.switch-toggle:checked:before{
    left: 16px;
}

/*Main*/


main section:first-child{
    position: relative;
}

.form-introduce{
    position: absolute;
    bottom: -64px;
    border-radius: 12px;
    left: 64px;
    background-color: var(--var-color-white);
    padding: 40px;
    border: 1px solid var( --var-color-e);
    display: inline-block;
    box-shadow: 0px 12px 24px -6px #181a2a1f;
}

.form-introduce .tag {
    background-color: var(--var-color-button);
    color: var(--var-color-white);
    font-size: 14px;
}

.form-introduce h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: var(--var-color-18);
    margin: 15px 0;
}

.infor-user{
    display: flex;
    padding: 0;
    font-size: 16px;
    line-height: var(--var-sz);
    font-weight: 500;
    color: #97989f;

}
.infor-user time {
    line-height: 40px;
    color: #97989f;
    line-height: 46px;
}


.infor-user span {
    line-height: 24px;
}







.advertisement{
    text-align: center;
    background-color: var(--var-color-e);
    width: 750px;
    height: 100px;
    border-radius: 12px;
    gap: 10px;
    color: var( --var-color-e);
    margin: 145px auto 80px auto;
    line-height: 40px;
}

.advertisement span {
    font-size: 14px;
    line-height: 20px;
    color: var(--var-color-6);
}

.advertisement span:last-child{
    font-size: 18px;
    line-height: 26px;
}

.advertisement h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: var(--var-sz);
    color: var(--var-color-6);
}

.advertisement:last-child{
    margin: 80px auto 100px auto;
}

.list-post h4 {
    font-weight: 700;
    font-size: var(--var-sz);
    line-height: 28px;
    margin-bottom: 30px;
}

.posts{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.post{
    border: 1px solid var( --var-color-e);
    border-radius: 12px;
    padding: 16px;
    cursor: pointer;
    width: calc(30% - 8px);
    margin: 10px;
}

.post img{
    margin-bottom: var(--var-sz);
    width: 100%;
}


.post h4{
    font-weight: 600;
    font-style: var(--var-sz);
    line-height: 28px;
    color: var(--var-color-18);
    margin: 20px 0;
}

.post:nth-child(3n+1){
    margin-left: 0;
}
.post:nth-child(3n){
    margin-right: 0;
}

.user img {
    width: 36px;
    height: 36px;
    margin: 0;
}

.user{
    display: flex;
    align-items: center;
}

.user span {
    padding: 0 10px;
}



.tag{
    color: var(--var-color-button);
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    background-color: var(--var-color-d);
    border-radius: 6px;
    padding: 4px 10px;
    margin-top: var(--var-sz);
}

.view {
    width: 142px;
    height: 48px;
    border: 1px solid var(--var-color-6);
    border-radius: 6px;
    color: var(--var-color-6);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 12px  20px;
    margin: 20px  auto 0 auto;
    align-items: center;
    border: none;
}




/*Footer*/

footer {
    margin-top: 80px;
    background-color: var(--var-color-e);
    border-top: 1px solid var(--var-color-e);
    padding-top: 20px;
    line-height: 25px;
}

.firt{
    display: flex;
    justify-content: space-between;
}

.firt h5{
    line-height: 28px;
    font-size: 16px;
    font-weight: 600;
}

footer div:first-child{
    margin-bottom: 20px;
}

.about{
    width: 25%;
}

.about p {
    margin: 12px 0 24px 0;
}

.quick-link,
.category{
    width: 10%;
}

.quick-link{
    margin-left: 40px;
}
.category{
    margin-right: 30px;
}

.quick-link h5,
.category h5{
    margin-bottom: 24px;
}

.quick-link a,
.category a {
    line-height: 24px;
    font-size: 16px;
    padding: 4px 0;
}


strong {
    font-weight: 900;
}
.list-footer{
    display: flex;
}

.form-footer{
    width: 32%;
    text-align: center;
    background-color: var(--var-color-white);
    border-radius: 12px;
    padding: 32px ;
}



.form-footer form input {
    width: 290px;
    height: var(--var-sz);
    border-radius: 6px;
    border: 1px solid var(--var-color-d);
    padding: 12px 14px;
    gap: 10px;
    margin: 10px 0;
}

.form-footer form i {
    position: relative;
    left: -30px;
    width: 20px;
    height: 20px;
}

.form-footer form h4{
    font-weight: 600;
    line-height: var(--var-sz);
    font-size: 20px;
}

.form-footer form p {
    margin-bottom: 10px;
}

.btn {
    width: 320px;
    border-radius: 6px;
    padding: 12px 20px;
    gap: 12px;
    background-color: var(--var-color-button);
    color: var(--var-color-white);
    margin-right: 22px;
    cursor: pointer;
}


.last {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--var-color-d);
    padding-top: 16px;
}


.logo-footer img {
    margin-right: 4px;
}

.logo-footer,
.last ul{
    display: flex;
    align-items: center;
}


.last li a {
    border-right: 1px solid var(--var-color-d);
    padding: 0 6px;
}

.last li:last-child a{
    border-right: none;
}
