*{
    margin: 0;
    padding: 0;
}

body{
    width: 1920px;
    height: 2472px;
    left: 2197px;
}

header{
    width: 1918px;
    height: 50px;
    padding: 32px 350px;
    gap: 10px;
}
.logo{
    text-align: center;
}


/*Header*/
.menu,
header{
    display: flex; 
}

.menu {
    width: 667px;
    height: 24px;
    gap: 40px;
    margin-left: 130px;
}

li, a {
    text-decoration: none;
    list-style: none;
}

a{
    color : #3b3c4a;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}



form {
    width: 254px;
    height: 36px;
}

.logo_header{
    text-align: center;
}

.logo_main{
    width: 1216px;
    height: 600px;
    border-radius: 12px;
}

header form {
    display: flex;
}


.item_ipt:first-child {
    width: 166px;
    height: 18px;
    border-radius: 5px;
    padding: 8px 8px 8px 16px;
    gap: 12px;
    background-color: #f4f4f5;
    margin-right: 10px;
}

.item_ipt:first-child input {
    border: none;
    outline: none;
    background-color: #f4f4f5;
}

.item_ipt i {
    width: 4px;
    height: 4px;
    color: #52525b;
    border-radius: 2px;
}

.item_ipt:last-child{
    display: flex;
    width: 48px;
    height: 28px;
    border-radius: 100px;
}

.switch-toggle{
    width: 38px;
    appearance: none;
    background-color: #ccc;
    border-radius: 26px;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, .3);

}
.switch-toggle::before{
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color:white;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .3);

}
.switch-toggle:checked{
    background-color: #294ed6;
}
.switch-toggle:checked:before{
    left: 15px;
}

/*Main*/




.form_introduce{
    position: absolute;
    gap: 24px;
    width: 598px;
    height: 250px;
    top: 360px;
    border-radius: 12px;
    left: 410px;
    background-color: white;
    padding: 40px;
    border: 1px solid #e8e8ea;
    box-shadow: 0 12px 24px -6px #181A2A ;
}

.form_introduce button {
    background-color: rgba(75, 107, 251, 1);
    color: white;
    border: none;
    outline: none;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    width: 97px;
    height: 28px;
    
}

.form_introduce h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    color: rgba(24, 26, 42, 1);
}



.infor{
    display: flex;
    width: 321px;
    height: 36px;
    gap: 20px;
    padding: 0;
}



.infor li img {
    width: 36px;
    height: 36px;
    border-radius: 28px;
    margin-top: 10px;
}

.infor li:first-child {
    width: 175px;
    display: flex;
    height: 36px;
    gap: 12px;
    line-height: 50px;
}

.infor li:first-child p {
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    width: 127px;
    height: 24px;
}

.infor li:last-child{
    width: 126px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #97989f;
}


article{
    margin-top: 150px;
}

.adver{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    width: 750px;
    height: 100px;
    border-radius: 12px;
    gap: 10px;
    color: #e8e8ea;
    margin: auto;
    padding-top: 14px;
}

.adver p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* align-items: center; */
    color: #696A75;
}

.adver p:last-child{
    font-size: 18px;
    line-height: 26px;
}

.adver h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding: 10px 0 10px 360px;
    margin: 80px 0 50px 0;
}

.list_data{
    width: 1216px;
    height: 1504px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.item_data{
    border: 1px solid #e8e8ea;
    width: 358px;
    height: 435px;
    border-radius: 12px;
    padding: 16px;
    gap: 16px;
    cursor: pointer;
}

.item_data img {
    width: 360px;
    border-radius: 6px;
    height: 240px;
}

.item_data button {
    color: #4b6bfb;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    width: 77px;
    height: 20px;
    border: none;
    margin: 10px 0;
}

.item_data h3{
    font-size: 600;
    font-style: 24px;
    line-height: 50px;
    color: #181A2A;
}



.view {
    width: 142px;
    height: 28px;
    border: 1px solid #696A75;
    border-radius: 6px;
    color: #696A75;
    margin: 16px auto 40px auto;
    padding: 12px 20px;
    cursor: pointer;
    text-align: center;
}




/*Footer*/

footer {
    margin-top: 80px;
    background-color: #e8e8ea;
    
    border-top: 1px solid #e8e8e7;
    padding: 0 350px;
}

.infor_footer{
    display: flex;
    width: 1216px;
    height: 254px;
    gap: 20px;
    padding-top: 30px;
}

.infor_footer li{
    width: 289px;
    height: 236px;
    gap: 24px;
}



.infor_footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #696A75;
}

.infor_footer span, p span {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #181A2A
}

.infor_footer a{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3b3c4a;
    margin-bottom: 10px;
}

.infor_footer li:last-child{
    background-color: white;
    width: 392px;
    height: 180px;
    border-radius: 12px;
    padding: 24px;
    gap: 30px;
    text-align: center;
}

.infor_footer li:last-child h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.infor_footer li:last-child p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.form_ipt input {
    width: 290px;
    height: 24px;
    border-radius: 6px;
    border: 1px solid #dcdddf;
    padding: 12px 14px;
    gap: 10px;
    margin: 10px 0;
}

.form_ipt i {
    position: relative;
    left: -30px;
    width: 20px;
    height: 20px;
}


.btn {
    width: 320px;
    height: 48px;
    border-radius: 6px;
    padding: 12px 20px;
    gap: 12px;
    background-color: #4b6bfb;
    color: white;
}


.last {
    display: flex;
    justify-content: space-between;
}

.last ul:last-child{
    display: flex;
}


.scorball {
    border-right: 1px solid #666;
    margin: 0 6px;
    position: relative;
}